/* General Container Styling */
.login-container {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  border: 2px solid black;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
}

/* Form Group Styling */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Button Styling */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

/* Error Message Styling */
.text-danger {
  color: #dc3545;
}

/* Link Styling */
.btn-link {
  color: #007bff;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

/* Dashboard.css or any CSS file you're using */
.register-container {
  display: flex;
  align-items: center;
}

.text-span {
  margin-right: 10px; /* Adjust spacing between the text and the link */
  color: black;
}

